<% @page_title = "現在のカートの内容"%>
<div id="cartmenu">
  <ul>
    <li><%= link_to 'ショッピングを続ける', :action => "index" %></li>
    <li><%= link_to 'カートを空にする', :action => "empty_cart" %></li>
    <li><%= link_to 'チェックアウトする', :action => "checkout" %></li>
  </ul>
</div>
<table cellpadding="10" cellspacing="0">
  <tr class="carttitle">
    <td rowspan="2">数量</td>
    <td rowspan="2">説明</td>
    <td colspan="2">価格</td>
  </tr>
  <tr class="carttitle">
    <td>単価</td>
    <td>合計</td>
  </tr>
<%
for item in @items
  product = item.product
-%>
  <tr>
    <td><%= item.quantity %></td>
    <td><%= h product.title %></td>
    <td align="right"><%= item.unit_price %></td>
    <td align="right"><%= item.unit_price * item.quantity %></td>
  </tr>
<% end %>
  <tr>
    <td colspan="3" align="right"><strong>総計:</strong></td>
    <td id="totalcell"><%= @cart.total_price %></td>
  </tr>
</table>