<% @products.each do |product| %>
  <div class="catalogentry">
    <img src="<%= product.image_url %>" />
    <h3><%= h product.title %></h3>
    <%= product.description %>
    <br />
    <span class="catalogprice"><%= fmt_dollars(product.price) %></span>
      <%= link_to 'カートに入れる',
                  {:action => 'add_to_cart', :id => product},
                  :class => 'addtocart' %><br />
  <div class="separator">&nbsp;</div>
<% end %>
<%= link_to "カートを表示する", :action => "display_cart" %>
